

img{
  width:100%;
}

body
{
  background: #111;
  margin: 0;
  animation: rattle 0.2s;
  animation-delay: 1s;
}

.slam
{
  animation: slam 1s;
  animation-timing-function: ease-in;
  color: #C41818;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: .5em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  
}

@keyframes slam
{
  0%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
  
  40%
  {
    opacity: 0;
  }
  
  100%
  {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes rattle
{
  0% { margin-top: 0; margin-left: 0; }
  10% { margin-top: -5px; margin-left: 0; }
  20% { margin-top: 0; margin-left: -5px; }
  30% { margin-top: 5px; margin-left: 0; }
  40% { margin-top: 0; margin-left: 5px; }
  50% { margin-top: -2px; margin-left: 0; }
  60% { margin-top: 0; margin-left: -2px; }
  70% { margin-top: 2px; margin-left: 0; }
  80% { margin-top: 0; margin-left: 2px; }
  90% { margin-top: -1px; margin-left: 0; }
  100% { margin-top: 0; margin-left: 0; }
}



.playerBlue{
    color: blue;
    background-color: aquamarine;
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

.playerRed{
    color: darkred;
    background-color: antiquewhite;
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#winnerIs{
    font-size: 2em;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  #rock-btn, #paper-btn, #scissors-btn, #rock2-btn, #paper2-btn, #scissors2-btn{
    width: 80%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 575px) {
  #rock-btn, #paper-btn, #scissors-btn, #rock2-btn, #paper2-btn, #scissors2-btn{
    width: 32%;
    float: left;
  }

  .col-sm-4{
    float:left;
    margin-left: 35%;
  }
}